@model Web.Models.FinancialOperations.FinancialOperationListViewModel

@{
    ViewData["Title"] = "Financial operations";
}

<div class="row">
    <div class="col-12 overflow-auto">
        <h1 class="text-center">
            @ViewData["Title"]
        </h1>

        <div class="d-flex justify-content-end col-md-8 offset-md-2 mb-2">
            <a class="btn btn-primary btn-sm"
               asp-action="@nameof(FinancialOperationsController.Create)">
                <span class="fas fa-plus"></span>
                Add
            </a>
        </div>

        <div class="table-responsive col-md-8 offset-md-2">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <table class="table table-hover table-bordered dataTable" id="dataTable" width="100%">
                    <thead class="table-header">
                        <tr>
                            <th tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" aria-sort="descending">
                                Date
                            </th>
                            <th tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" aria-sort="descending">
                                FinancialItem
                            </th>
                            <th tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" aria-sort="descending">
                                Amount
                            </th>
                            <th tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" aria-sort="descending">
                                Description
                            </th>
                            <th tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" aria-sort="descending">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.FinancialOperations.Items)
                        {
                            <tr>
                                <td>@item.Timestamp</td>
                                <td>@item.FinancialItem.Name</td>
                                <td>@item.Amount</td>
                                <td>@item.Description</td>
                                <td class="text-center">
                                    <a class="btn btn-outline-primary btn-sm" asp-action="@nameof(FinancialOperationsController.Edit)" asp-route-id="@item.Id">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#dataTable").DataTable({
                // Design Assets
                stateSave: true,
                autoWidth: true,
                // ServerSide Setups
                processing: true,
                serverSide: true,
                // Paging Setups
                paging: true,
                // Searching Setups
                searching: { regex: true },
                // Ajax Filter
                ajax: {
                    url: "/FinancialOperations/LoadTable",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: function (d) {
                        return JSON.stringify(d);
                    }
                },
                // Columns Setups
                columns: [
                    {
                        data: "Timestamp"
                    },
                    {
                        data: "FinancialItem",
                        render: function (data, type, row) {
                            return data.Name;
                        }
                    },
                    {
                        data: "Amount"
                    },
                    {
                        data: "Description"
                    },
                    {
                        data: "id",
                        render: function (data, type, row) {
                            return '<a class="btn btn-outline-primary btn-sm" href=/FinancialOperations/Edit/' + data + '>Edit</a>'; //Hack: Partially hardcoded link
                        }
                    }
                ],
                // Column Definitions
                columnDefs: [
                    { targets: "no-sort", orderable: false },
                    { targets: "no-search", searchable: false },
                    {
                        targets: "trim",
                        render: function (data, type, full, meta) {
                            if (type === "display") {
                                data = strtrunc(data, 10);
                            }

                            return data;
                        }
                    },
                    { targets: "date-type", type: "date-eu" }
                ]
            });
        });
    </script>
}



