@model Web.Areas.Admin.Models.FinancialItems.FinancialItemListViewModel

@{
    ViewData["Title"] = $"Manage Financial items of user {Model.UserName}";
}

@section PageHeader {
    <div class="container">
        <partial name="_UserMenuPartial" model="Model.UserId" />
    </div>
}

<div class="row">
    <div class="col-12">
        <h1 class="text-center">
            @ViewData["Title"]
        </h1>

        <div class="d-flex justify-content-end">
            <a class="btn btn-primary btn-sm"
               asp-action="@nameof(FinancialItemsController.Create)" asp-route-userId="@Model.UserId">
                <span class="fas fa-plus"></span>
                Add
            </a>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Active
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FinancialItems.Items)
                {
                    <tr>
                        <td>@item.Name</td>

                        <td>@item.Type</td>

                        <td>@(item.IsActive ? "Yes" : "No")</td>

                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="@nameof(FinancialItemsController.Edit)" asp-route-id="@item.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <vc:pagination page="Model.FinancialItems.Page"
                       page-count="Model.FinancialItems.PageCount"
                       page-url-func='p => Url.Action(nameof(FinancialItemsController.Index), new { page = p })'>
        </vc:pagination>
    </div>
</div>

