@model Web.Models.Reports.BalanceReportViewModel

@{
    ViewData["Title"] = "Balance";
}

<div class="row">
    <div class="col-12">
        <h1 class="text-center">
            @ViewData["Title"]
        </h1>

        <form method="get" asp-action="@nameof(ReportsController.Balance)" asp-route-from="@Model.From" asp-route-to="@Model.To">

            <label asp-for="From">From Date</label>
            <div class="input-group col-md-6 col-sm-12">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="From" type="text" placeholder="Date" class="form-control datetimepicker" autocomplete="off" />
            </div>

            <label asp-for="To">To Date</label>
            <div class="input-group col-md-6 col-sm-12">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="To" type="text" placeholder="Date" class="form-control datetimepicker" autocomplete="off" />
            </div>

            <input type="submit" value="Filter" class="btn btn-default" />
        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Financial Item
                    </th>
                    <th>
                        Balance
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BalanceReport.FinancialItemReportRows)
                {
                    <tr>
                        <td>@item.FinancialItem.Name</td>

                        <td>@item.Sum</td>
                    </tr>
                }

                @if (Model.BalanceReport.Total > 0)
                {
                    <tr class="text-success">
                        <td><strong>Total:</strong></td>

                        <td><strong>@Model.BalanceReport.Total</strong></td>
                    </tr>
                }
                @if (Model.BalanceReport.Total < 0)
                {
                    <tr class="text-danger">
                        <td><strong>Total:</strong></td>

                        <td><strong>@Model.BalanceReport.Total</strong></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datetimepicker').datetimepicker({
                inline: false,
            });
        });
    </script>
}