@model Web.Models.Reports.ExpensesReportViewModel

@{
    ViewData["Title"] = "Expenses";
}


<div class="row">
    <div class="col-12">
        <h1 class="text-center">
            @ViewData["Title"]
        </h1>

        <form method="get" asp-action="@nameof(ReportsController.Expenses)" asp-route-from="@Model.From" asp-route-to="@Model.To">

            <label asp-for="From">From Date</label>
            <div class="form-group">
                <input asp-for="From" type="text" placeholder="Date" class="form-control datepicker" readonly />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>

            <label asp-for="To">To Date</label>
            <div class="form-group">
                <input asp-for="To" type="text" placeholder="Date" class="form-control datepicker" readonly />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>

            <input type="submit" value="Filter" class="btn btn-default" />
        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Financial Item
                    </th>
                    <th>
                        Balance
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ExpensesReport.FinancialItemReportRows)
                {
                    <tr>
                        <td>@item.FinancialItem.Name</td>

                        <td>@item.Sum</td>
                    </tr>
                }

                <tr>
                    <td><strong>Total:</strong></td>

                    <td><strong>@Model.ExpensesReport.Total</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".datepicker").datepicker({ format: 'mm/dd/yyyy', autoclose: true, todayBtn: 'linked' })
        });
    </script>
}