@model Web.Models.Reports.ExpensesReportViewModel

@{
    ViewData["Title"] = "Expenses";
}

<div class="row">
    <h1 class="col-12 text-center">
        @ViewData["Title"]
    </h1>

    <form method="get" asp-action="@nameof(ReportsController.Expenses)">

        <div class="row col-12">
            <p>Date range:</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <input asp-for="From" type="text" placeholder="Date" class="form-control datetimepicker" autocomplete="off" />
            </div>
            <div class="col-6">
                <input asp-for="To" type="text" placeholder="Date" class="form-control datetimepicker" autocomplete="off" />
            </div>
        </div>

        <div class="row col-12">
            <ul class="list-no-bullet">
                @for (int i = 0; i < Model.SelectedItems.Count; i++)
                {
                    <li>
                        <input type="checkbox" asp-for="SelectedItems[i].IsSelected" />
                        <label asp-for="SelectedItems[i].IsSelected">@Model.SelectedItems[i].FinancialItem.Name</label>
                        <input type="hidden" asp-for="SelectedItems[i].FinancialItem.Id" />
                        <input type="hidden" asp-for="SelectedItems[i].FinancialItem.Name" />
                    </li>
                }
            </ul>
        </div>

        <div class="row col-12 justify-content-start">
            <input type="submit" value="Filter" class="btn btn-dark" />
        </div>
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Financial Item
                </th>
                <th>
                    Balance
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ExpensesReport.FinancialItemReportRows)
            {
                <tr>
                    <td>@item.FinancialItem.Name</td>

                    <td>@item.Sum</td>
                </tr>
            }

            <tr>
                <td><strong>Total:</strong></td>

                <td><strong>@Model.ExpensesReport.Total</strong></td>
            </tr>
        </tbody>
    </table>
    <div class="col-4">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datetimepicker').datetimepicker({
                inline: true,
                timepicker: false
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            var labelss = [@Html.Raw(string.Join(',', @Model.ExpensesReport.FinancialItemReportRows.Select(firr => "'" + firr.FinancialItem.Name + "'")))];
            var values = [@Html.Raw(string.Join(',', @Model.ExpensesReport.FinancialItemReportRows.Select(firr => firr.Sum)))];

            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labelss,
                    datasets: [{
                label: '# of Votes',
                        data: values,
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                            }
                    }]
                    }
            }
        });
        });
    </script>
}