@model Web.Areas.Admin.Models.FinancialOperations.EditFinancialOperationViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
        </div>

        <form method="post" asp-action="@nameof(FinancialItemsController.Edit)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="Amount">Amount</label>
            <div class="form-group">
                <input asp-for="Amount" type="number" placeholder="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <label asp-for="FinancialItemId">Financial Item</label>
            <div class="form-group">
                <select asp-for="FinancialItemId" asp-items="@Model.FinancialItems" placeholder="Financial Item" class="form-control"></select>
                <span asp-validation-for="FinancialItemId" class="text-danger"></span>
            </div>

            <label asp-for="Timestamp">Date</label>
            <div class="form-group">
                <input asp-for="Timestamp" type="datetime" placeholder="Date" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>

            <label asp-for="Description">Description</label>
            <div class="form-group">
                <input asp-for="Description" placeholder="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>

            <button type="button"
                    class="btn btn-outline-danger btn-block"
                    data-toggle="modal"
                    data-target="#delete-operation-confirmation">
                Delete Operation
            </button>
        </form>
        <div class="form-group text-center">
            <a asp-action="@nameof(FinancialItemsController.Index)" asp-route-userId="@Model.UserId">Cancel</a>
        </div>
    </div>
</div>

<vc:delete-confirmation-dialog dialog-id="delete-operation-confirmation"
                               title="Delete Operation"
                               text="Are you sure you want to delete the selected operation?"
                               url="@Url.Action(nameof(FinancialOperationsController.Delete), new { id = Model.Id })" />