@model Web.Models.FinancialItems.FinancialItemListViewModel

@{
    ViewData["Title"] = "Financial items";
}

<div class="row">
    <div class="col-12 overflow-auto">
        <h1 class="text-center">
            @ViewData["Title"]
        </h1>

        <div class="d-flex justify-content-end col-md-8 offset-md-2 mb-2 p-0">
            <a class="btn btn-primary btn-sm"
               asp-action="@nameof(FinancialItemsController.Create)">
                <span class="fas fa-plus"></span>
                Add
            </a>
        </div>

        <table class="table table-hover table-bordered col-md-8 offset-md-2">
            <thead class="table-header">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Active
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FinancialItems.Items)
                {
                    <tr>
                        <td>@item.Name</td>

                        <td>@item.Type</td>

                        <td>@(item.IsActive ? "Yes" : "No")</td>

                        <td class="text-center">
                            <a class="btn btn-outline-primary btn-sm" asp-action="@nameof(FinancialItemsController.Edit)" asp-route-id="@item.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="d-flex justify-content-end col-md-8 offset-md-2 mb-2 p-0">
            <vc:pagination page="Model.FinancialItems.Page"
                           page-count="Model.FinancialItems.PageCount"
                           page-url-func='p => Url.Action(nameof(FinancialItemsController.Index), new { page = p })'>
            </vc:pagination>
        </div>
    </div>
</div>

